# Virtual environment
.venv/

# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# Data
data/raw/
data/processed/

# Trained models
models/

# Logs
logs/

# Results generated during experiments
results/

# TensorFlow
.keras/