# ==============================
# Python
# ==============================

__pycache__/
*.py[cod]
*$py.class
*.so

# ==============================
# Virtual Environment
# ==============================

.venv/
venv/

# ==============================
# Jupyter
# ==============================

.ipynb_checkpoints/

# ==============================
# Dataset
# ==============================

data/
*.csv
*.zip
*.rar
*.7z

# ==============================
# Python / Tool Caches
# ==============================

.pytest_cache/
.mypy_cache/
.ruff_cache/

# ==============================
# TensorFlow / ML temporary files
# ==============================

logs/
wandb/
tensorboard/

# ==============================
# OS / Editor files
# ==============================

.DS_Store
Thumbs.db

.vscode/
.idea/

# ==============================
# Temporary files
# ==============================

*.tmp
*.temp
*.log